<div class="auth Registerbody" >
    <div class="header">
            <img src="img/logo.png" alt="" title="" />
            <h3>Register</h3>
    </div>
    <form action="" class="row">
    
    <div class="mt-20 col-md-6">
      
      <input type="text" name="firstname" 
      placeholder="Firstname"  
      required="" 
      class="single-input">
      <p class="notify">
             <span class="success">Username Required</span> 
      </p>
    </div>
    
    <div class="mt-20 col-md-6">
      <input type="text" name="lastname" 
      placeholder="Lastname" 
      required="" class="single-input">
      <p class="notify">
                    <span class="error">Username Required</span> 
      </p>
    </div>

    <div class="mt-20 col-md-12">
      <input type="email" name="email" 
      placeholder="Email" required="" 
      class="single-input">
      <p class="notify">
                    <span class="error">Username Required</span> 
      </p>
    </div>
    <div class="mt-20 col-md-12">
        <input type="text" name="phnnumber" 
        placeholder="Phone Number" required="" 
        class="single-input">
        <p class="notify">
                      <span class="error">Username Required</span> 
        </p>
    </div>

    <div class="mt-20 col-md-6">
      <input type="password" 
      name="Password" placeholder="Password" 
      required="" class="single-input">
      <p class="notify">
                    <span class="error">Username Required</span> 
      </p>
    </div>
    <div class="mt-20 col-md-6">
                    <input type="password" 
                    name="Password" placeholder="Repeat Password" 
                    required="" class="single-input">
                    <p class="notify">
                                  <span class="error">Username Required</span> 
                    </p>
    </div>

    <div class="mt-20 col-md-12">
            <div class="agree">
              <div class="custom-checkbox missing">
                    <input type="checkbox" id="confirm-checkbox">
                    <label for="confirm-checkbox"></label>
              </div>
              <p class="confirm-text">
                 By clicking this checkbox you accept the <a href="#">terms and conditions</a>
                 of this website
              </p> 
            </div>
    </div>

    <div class="mt-20 col-md-12">
                    <a href="#" class="genric-btn primary">Register</a>
    </div>
    <div class="footer col-md-12">
            <p class="retrive">Login <a href="#!/login">Here</a> If You Have Account</p> 
    </div>
    </form>


</div> 